/*RESETs*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --second-color: #f0f0f5;
}
html{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
body{
    background: var(--second-color);
    -webkit-font-smoothing: antialiased;
}
/*General view*/    

/*Main content of this web page is here*/
#page-home main{
    width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;  
    justify-content: center;
}
#page-home main h1{
    font-size: 54px;
}
#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
#page-home main a{
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: var(--primary-color);
    transition: 400ms;
    color: var(--second-color);
}
#page-home main a:hover{
    background-color: #2fb86e;
}
#page-home  main a span{
    width:72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0,0,0,.08);  
    display: flex;
    justify-content: center;
    align-items: center;  
}
#page-home main a span::after{
    content: "";
    background-image: url('../img/search.svg');
    width: 20px;
    height: 20px;
    color: #fff;
}
#page-home main a strong{
    flex: 1;
    text-align: center;
}